<div class="container text-center ">
    <div class="row">
        <div class="col mb-5">
            <app-card></app-card>
        </div>
        <div class="col mb-5">
            <app-card-movie></app-card-movie>
        </div>
        <div class="col mb-5">
            <app-card-book></app-card-book>
        </div>
    </div>
    <div class="row ">
        <div class="col mb-5">
            <app-card-game></app-card-game>
        </div>
        <div class="col mb-5">
            <app-card-album></app-card-album>
        </div>
        <div class="col mb-5">
            <app-card-furniture></app-card-furniture>
        </div>
    </div>
</div>